@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.pop-animation {
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(1.2);
  }
  85% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/* Add this to your global CSS file */
.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-40 {
  z-index: 40;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transform {
  transform: translateX(0);
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}


.heart-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  font-size: 100px;
  color: red;
  opacity: 0;
  animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  50% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
}
