@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.pop-animation  {
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(1.2);
  }
  85% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


/* Add this to your global CSS file */
.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-40 {
  z-index: 40;
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.transform {
  transform: translateX(0);
}

.translate-x-0 {
  transform: translateX(0);
}

.translate-x-full {
  transform: translateX(100%);
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}


.heart-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  font-size: 100px;
  color: red;
  opacity: 0;
  animation: fadeInOut 1s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  50% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
}
 

/* Loader.css */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Darker background for better contrast */
  z-index: 9999; /* Ensures the loader is above all other content */
}

.spinner {
  border: 8px solid rgba(255, 255, 255, 0.2); /* Light grey with transparency */
  border-top: 8px solid #3498db; /* Blue */
  border-right: 8px solid #e74c3c; /* Red */
  border-bottom: 8px solid #f1c40f; /* Yellow */
  border-left: 8px solid #2ecc71; /* Green */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6); /* Adding a glowing shadow effect */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


 
 